body {
	/*background-color: red;*/
	display: grid;
	grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px 100px;
}





#box1{
	background-color: blue;

}


#box2{
	background-color: red;

}


#box3{
	background-color: green;

}

#box4{
	background-color: yellow;

}





@media screen and (max-width: 786px) {

	body {
		grid-template-columns: 100%;
	}


	#box2{
		grid-row-start: 2;
	}

	#box3{
		grid-row-start: 3;
	}

	#box4{
		grid-row-start: 4;
	}
}



